name: get subscription url

on:
  schedule:
    - cron: '39 03 * * *'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Manual trigger'
        required: false
        default: "Manual trigger
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bs4 feedparser urllib3 PyYAML
    - name: download subscription url
      run: python main.py
    - name: git push subscription dir
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git config pull.ff only
        git add subscription
        git commit -m "update subscription"
        git pull
        git push
   # - name: Publish package
   #   uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
   #   with:
   #     user: __token__
   #     password: ${{ secrets.PYPI_API_TOKEN }}
