name: get subscription url

on:
  schedule:
    - cron: '39 03 * * *'   # 每天 03:39 UTC 执行（即北京时间 11:39）
  workflow_dispatch:         # 允许手动运行
    inputs:
      reason:
        description: 'Reason for manual deployment'
        required: false
        default: 'Manual trigger'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}   # 重要：如果要 push，需要这个！

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bs4 feedparser urllib3 PyYAML

      - name: Download subscription url
        run: python main.py

      - name: Commit and Push updated subscription
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git config pull.rebase true

          git add subscription/
          git commit -m "update subscription" || exit 0  # 没有更改时不报错

          # fetch + rebase 避免 merge 冲突
          git fetch origin main
          git rebase origin/main

          # 推送更新
          git push origin main
